.container {
  background-color: #0d1117;
}

.navbar {
  padding: 20px;
  background-color: rgb(22, 27, 34);
  color: rgb(230, 237, 243);
}

.search {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
h1{
  color: rgb(230, 237, 243);
}

/* .ui.input {
 background-color: rgb(22, 27, 34);
} */
#root{
  background-color: #0d1117;
  color: rgb(230, 237, 243);
}

.card {
  display: flex;
  justify-content: center;
}

img { 
  height: 18px;
}